language: node_js
node_js:
- '8'

env:
  global:
  - STABLE_BRANCH=master
  - DEVELOP_BRANCH=develop
  - DOCKER_SRC_IMAGE=rra-api
  - DOCKER_REPOSITORY=wbtransport/rra-api
  - DOCKER_USERNAME=olafveerman
  - secure: NQ7uWGTr4z42PevZ4jFt/YOA85S52SjaUNfvvPTWkWISohfrXJrnm/NNMOFJrl1YZNgI0AtGUDy1EVLyUQwzhm9RnBqb+pig8CxTwr6ev9aaa9EqC9H/YtrDY97qOFjFW8uZvJ8i5G+vadchR7d5rsRJU/N712ItJ5uutZ7Nt3Hx9ab0zjSdZMh3+MHTZeElhMSWJER8kM46C9nQQoPmI2f0qqL8m/ywO8ezh5w2nmC3aE7Hy6xbqJgNzfgmBDPw806H+gFI7u+bwk4lJhaE0dyfjyevg373CautBXHSQGzxqw5om6lGMDhAP7VfU9CCszmt9DhWq9uk1JDJJsM5uv7GOSSugXLg3ozLjkVsyqRA2+J49r3ukgdelvKBbxywJsTKnPzyKG6WVPxNa0HXJY5Hutnr5ToeV3T7kal9HsbpNAw4LYW7zTK/l5lKN+R6OfaZk82ifDTQjw5w+2FvQiZ7VlVuxwgmzRJoURXz3aNjCErOUfQCcJdSN4On34n5ja9fMpMUlEP1eVoY+qjgB0fZBsuaPqUMY1/zQMhrrYr01/cRn/xDDgZ/+SyeR7VBEpSaPue40LLpZc2Rfs6fLVPPHIkHctEei0p2hcw1AtbMcbjPH33It3oSevGWJSKH1+iTHSNUpCcYLxgfH95RyYxgEfAXh/Ms5tjPy4MJN+E=

cache:
  apt: true

services:
  - docker

before_script:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/1.12.0/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - docker-compose -f docker-compose-test.yml run rra-api yarn run setup -- --db --bucket
  - yarn lint

script:
  - docker-compose -f docker-compose-test.yml run rra-api yarn test

after_script:
  - docker-compose stop
  - docker-compose rm -f

deploy:
  - provider: script
    skip_cleanup: true
    script: .build_scripts/deploy.sh
    on:
      branch: ${DEVELOP_BRANCH}
  - provider: script
    skip_cleanup: true
    script: .build_scripts/deploy.sh
    on:
      branch: ${STABLE_BRANCH}
