* {font-family: 'Overlock', sans-serif;}
html, body {
 margin: 10;
 padding: 0;
}
h1 {
	font-size: large;
}
#map {
 	margin: 0px;
 	border: solid 1px #444;
 	height: 400px;
 	background: #272822;
}
#countyname {
	z-index:10000;
	position: absolute;
	top: 10px;
	left: 10px;
	background: white;
}

.csvlist {
	max-height: 300px;
	overflow:auto;
}
#commands {
	margin:10px;
}

.loginform ul {
    padding: 0;
    margin: 0;
}
.loginform li {
    display: inline;
   
}
#secure {
	visibility: collapse;
}
#file_drop{
	width:400px;
	height:200px;
}

#logfield {
	width: 100%;
	height: 100px;
	background: #ffe;
	border-radius: 4px;
	overflow: auto;
}

.changeOSRM {
	cursor: pointer;
	color: #337ab7;
}

.changeOSRM:hover {
    color: #23527c;
    text-decoration: underline;
}
.activeOSRM {
	font-weight: bold;
}
#osrmfiles {
	max-height: 300px;
	overflow: auto;
}
#switcher {
	margin-top: -30px;
	cursor: pointer;
	color: #337ab7;
}

#switcher span:hover {
	color: #23527c;
    text-decoration: underline;
}

.active {
	font-weight: bold;
}
#users {
	color: #666;
    margin: 10px;
    border: solid 1px #eeeeec;
    padding: 10px;
    border-radius: 3px;
}
#users:hover {
	text-decoration: none !important;
	color: white;
	cursor: default;
}