html, body {
 margin: 0;
 padding: 0;
}
#map {
 	width: 600px;
 	height: 400px;
 	background: #272822;
}
#sidebar {
	display:inline;
	width:300px;
	position: absolute;
	top:0px;
	right:0px;
	bottom:0px;
}
#countyList {
	overflow: auto;
	height: 100%;
	cursor:pointer;
}
p:hover {
	background: #eeeeec;
}
#countyname {
	z-index:10000;
	position: absolute;
	top: 10px;
	left: 10px;
	background: white;
}

#logfield {
	margin:10px;
	padding:5px;
	height: 300px;
	overflow: auto;
	background: #eeeeec;
	border: solid 1px #999;
	border-radius: 3px;
}