html, body {
 margin: 0;
 padding: 0;
}
#map {
 	position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 300px;
    background: #272822;
}
#sidebar {
	display:inline;
	width:300px;
	position: absolute;
	top:0px;
	right:0px;
	bottom:0px;
}
#countyList {
	overflow: auto;
	height: 100%;
	cursor:pointer;
}
p:hover {
	background: #eeeeec;
}

#csv {
 	position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 300px;
  	overflow:auto;
}
