<!DOCTYPE html>
<meta charset="utf-8" lang="en">
<head>
<title>Rural Road Accessibility</title>
  <meta id='viewport' content='initial-scale=1'/>
  <link href='https://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'>
  <link href='../style/style.css' rel='stylesheet' type='text/css'/>
  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css"  rel='stylesheet' type='text/css'/>
  <link href="../node_modules/dc/dc.min.css"  rel='stylesheet' type='text/css'/>
  <script src="../node_modules/socket.io-client/socket.io.js"></script>
  <script src="../node_modules/d3/d3.min.js" charset="utf-8"></script>
  <script src="../node_modules/crossfilter/crossfilter.min.js" charset="utf-8"></script>
  <script src="../node_modules/dc/dc.min.js" charset="utf-8"></script>
    <script src='../scripts/js/queue.v1.min.js' type='text/javascript'></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../scripts/js/jquery.i18n.properties.min.js" type="text/javascript"  charset="utf-8"></script>
  <script src="../scripts/js/util.js" type="text/javascript"  charset="utf-8"></script>
</head>
<body>
<div class="container-fluid">
  <div class="page-header">
  <h1>
  <a href="/" id="frt_title"><script>t('#frt_title','frt_title')</script></a> <small><a href="./upload.html" id="frt_sub_upload"><script>t('#frt_sub_upload','frt_sub_upload')</script></a>, <a href="./calculate.html" id="frt_sub_calculate"><script>t('#frt_sub_calculate','frt_sub_calculate')</script></a>, <a href="./analyse.html" id="frt_sub_analyse"><script>t('#frt_sub_analyse','frt_sub_analyse')</script></a></small></h1>
  <div id="switcher" class="pull-right clear-fix"><span id="lng_en"><script>t('#lng_en','lng_en')</script></span> <span id="lng_zh"><script>t('#lng_zh','lng_zh')</script></span></div>
</div>
<div class="row">
  <div class="col-md-1 col-sm-1">
     <span id="frt_step"><script>t('#frt_step','frt_step')</script></span>
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-sm-1">
     <h1 id="frt_1"><script>t('#frt_1','frt_1')</script></h1>
  </div>
  <div class="col-md-11 col-sm-11">
    <h4 id="anl_choose"><script>t('#anl_choose','anl_choose')</script></h4>
    <div class="csvlist"><table class="table  table-hover" id="csvlist"></table></div>
    <hr/>
  </div>
</div>

<div id="comstep" style="display: none;">
<div class="row">
  <div class="col-md-1 col-sm-1">
    <h1 >&nbsp;</h1>
  </div>
  <div class="col-md-11 col-sm-11">
   <table id="comstats" class="table"></table>
  </div>
</div>
</div>
<div id="step2" style="display: none;">

<div class="row">
  <div class="col-md-1 col-sm-1">
    <h1 id="frt_2"><script>t('#frt_2','frt_2')</script></h1>
  </div>
  <div class="col-md-11 col-sm-11">
      <h3 id="chosenFile"></h3>
    <h4 id="anl_summary"><script>t('#anl_summary','anl_summary')</script></h4>
    <div id="sumstats">
      <div id="ssCounty"></div>
      <div id="ssHospital"></div>
      <div id="ssBank"></div>
      <div id="ssSchool"></div>
    </div>
    
  </div>
</div> 
<div class='row dc-data-count clearfix'>
<div class="col-md-1 col-sm-1">
    <h1 id="frt_3"><script>t('#frt_3','frt_3')</script></h1>
  </div>
    <div class='col-md-11 col-sm-11'>
        <h3><span class="filter-count"></span>
            <span id="anl_selected"><script>t('#anl_selected','anl_selected')</script></span>
          <span class="total-count"></span>
           <span id="anl_villages"><script>t('#anl_villages','anl_villages')</script></span>
        </h3>
        <hr/>
    </div>
  </div>
<div class='row'>
</div>
  <div class='row'>


        <div class='col-md-6 col-sm-6' id='dc-hospital-chart'>
        <h4 id="anl_pop_hospitals"><script>t('#anl_pop_hospitals','anl_pop_hospitals')</script></h4>
        </div>
        <div class='col-md-6 col-sm-6' id='dc-bank-chart'>
        <h4 id="anl_pop_banks"><script>t('#anl_pop_banks','anl_pop_banks')</script></h4>
        </div>
  
  </div>
  
  <div class='row'>
        <div class='col-md-6 col-sm-6' id='dc-counties-chart'>
        <h4 id="anl_pop_counties"><script>t('#anl_pop_counties','anl_pop_counties')</script></h4>
        </div>
        <div class='col-md-6 col-sm-6' id='dc-prefectures-chart'>
        <h4 id="anl_pop_prefectures"><script>t('#anl_pop_prefectures','anl_pop_prefectures')</script></h4>
        
    </div>
  </div>

  <div class='row'>
   
        <div class='col-md-6 col-sm-6' id='dc-schools-chart'>
        <h4 id="anl_pop_schools"><script>t('#anl_pop_schools','anl_pop_schools')</script></h4>
        </div>
        <div class='col-md-6 col-sm-6' id='dc-population-chart'>
        <h4 id="anl_pop_vil"><script>t('#anl_pop_vil','anl_pop_vil')</script></h4>
      
    </div>
  </div>

  <div class='row'>
    
        <div class='col-md-6 col-sm-6' id='dc-county-chart'>
        <h4 id="anl_vil_county"><script>t('#anl_vil_county','anl_vil_county')</script></h4>
        </div>
  </div>


  <div class='row'>
  <div class='col-md-12 col-sm-12'>
      <table class='table table-hover' id='dc-table-graph'>
        <thead>
          <tr class='header'>
            <th id="anl_tbl_1"><script>t('#anl_tbl_1','anl_tbl_1')</script></th>
            <th id="anl_tbl_2"><script>t('#anl_tbl_2','anl_tbl_2')</script></th>
           <th id="anl_tbl_3"><script>t('#anl_tbl_3','anl_tbl_3')</script></th>
            <th id="anl_tbl_4"><script>t('#anl_tbl_4','anl_tbl_4')</script></th>
            <th id="anl_tbl_5"><script>t('#anl_tbl_5','anl_tbl_5')</script></th>
           <th id="anl_tbl_6"><script>t('#anl_tbl_6','anl_tbl_6')</script></th>
            <th id="anl_tbl_7"><script>t('#anl_tbl_7','anl_tbl_7')</script></th>
           <th id="anl_tbl_8"><script>t('#anl_tbl_8','anl_tbl_8')</script></th>
           <th id="anl_tbl_9"><script>t('#anl_tbl_9','anl_tbl_9')</script></th>
           <th id="anl_tbl_10"><script>t('#anl_tbl_10','anl_tbl_10')</script></th>
          </tr>
        </thead>
      </table>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-sm-1">
    <h1 id="frt_4"><script>t('#frt_4','frt_4')</script></h1>
  </div>
  <div class="col-md-11 col-sm-11">
    <h4 id="anl_status"><script>t('#anl_status','anl_status')</script></h4>
    <div id="logfield"></div>
    <p></p>
  </div>
</div>

  </div>
</div>   


<script type="text/javascript" src="../scripts/js/step3.js"></script> 
</body>
</html>
