<!DOCTYPE html>
<meta charset="utf-8" lang="en">
<head>
<title>Rural Road Accessibility</title>
  <meta id='viewport' content='initial-scale=1'/>
  <link href='https://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'>
  <link href='../style/style.css' rel='stylesheet' type='text/css'/>
  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css"  rel='stylesheet' type='text/css'/>
   <link href="../node_modules/leaflet/dist/leaflet.css"  rel='stylesheet' type='text/css'/>
  <script src="../node_modules/socket.io-client/socket.io.js"></script>
  <script src="../node_modules/d3/d3.min.js" charset="utf-8"></script>  
  <script src="../node_modules/leaflet/dist/leaflet.js" charset="utf-8"></script>  
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../scripts/js/jquery.i18n.properties.min.js" type="text/javascript"  charset="utf-8"></script>
  <script src="../scripts/js/util.js" type="text/javascript"  charset="utf-8"></script>
</head>
<body>
<div class="container-fluid">
  <div class="page-header">
 <h1>
  <a href="/" id="frt_title"><script>t('#frt_title','frt_title')</script></a> <small><a href="./upload.html" id="frt_sub_upload"><script>t('#frt_sub_upload','frt_sub_upload')</script></a>, <a href="./calculate.html" id="frt_sub_calculate"><script>t('#frt_sub_calculate','frt_sub_calculate')</script></a>, <a href="./analyse.html" id="frt_sub_analyse"><script>t('#frt_sub_analyse','frt_sub_analyse')</script></a></small></h1>
  <div id="switcher" class="pull-right clear-fix"><span id="lng_en"><script>t('#lng_en','lng_en')</script></span> <span id="lng_zh"><script>t('#lng_zh','lng_zh')</script></span></div>
</div>
<div class="row">
  <div class="col-md-1 col-sm-1">
     <span id="frt_step"><script>t('#frt_step','frt_step')</script></span>
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-sm-1">
     <h1 id="frt_1"><script>t('#frt_1','frt_1')</script></h1>
  </div>
  <div class="col-md-11 col-sm-11">
    <h4></h4>
    <div id="osrmfiles"></div>
    <div id="chosenFile"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-sm-1">
    <h1 id="frt_2"><script>t('#frt_2','frt_2')</script></h1>
  </div>
  <div class="col-md-9 col-sm-9">
    <h4 id="cal_choose"><script>t('#cal_choose','cal_choose')</script></h4>
    <div id="map" style="height:400px"><div id="countyname"></div></div>
  </div>
  <div class="col-md-2 col-sm-2">
    <h4 id="cal_level"><script>t('#cal_level','cal_level')</script></h4>
    <div class="radio">
      <label>
        <input type="radio" class="levelButtons" name="level" id="localLevel" value="local" checked><span id="cal_local">
        <script>t('#cal_local','cal_local')</script></span>
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" class="levelButtons" name="level" id="prefectureLevel" value="perfecture" ><span id="cal_prefecture">
        <script>t('#cal_prefecture','cal_prefecture')</script></span>
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" class="levelButtons" name="level" id="provincialLevel" value="province" ><span id="cal_province">
        <script>t('#cal_province','cal_province')</script></span>
      </label>
    </div>
    <hr/>
    <p>
    <span class="glyphicon glyphicon-info-sign text-info"></span> <span id="cal_level_txt"><script>t('#cal_level_txt','cal_level_txt')</script></span>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-sm-1">
    <h1 id="frt_3"><script>t('#frt_3','frt_3')</script></h1>
  </div>
  <div class="col-md-11 col-sm-11">
    <h4 id="cal_status"><script>t('#cal_status','cal_status')</script></h4>
    <div id="logfield"></div>
    <p></p>
  </div>
</div>

<div class="row" id="step4" style="display:none">
  <div class="col-md-1 col-sm-1">
    <h1 id="frt_4"><script>t('#frt_4','frt_4')</script></h1>
  </div>
  <div class="col-md-11 col-sm-11">
    <h4 id="cal_result"><script>t('#cal_result','cal_result')</script></h4>
     <div class="csvlist"><table class="table"id="csvlist"></table></div>
  </div>
 
  </div>

  </div>
</div>   

<script type="text/javascript" src="../scripts/js/step2.js"></script> 
</body>
</html>
