<!DOCTYPE html>
<meta charset="utf-8" lang="en">
<head>
<title>Rural Road Accessibility</title>
  <meta id='viewport' content='initial-scale=1'/>
  <link href='https://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'>
  <link href='../style/style.css' rel='stylesheet' type='text/css'/>
  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css"  rel='stylesheet' type='text/css'/>
  <script src="../node_modules/socket.io-client/socket.io.js"></script>
  <script src="../node_modules/d3/d3.min.js" charset="utf-8"></script>
  <script src="../node_modules/socketio-file-upload/client.min.js" charset="utf-8"></script>
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../scripts/js/jquery.i18n.properties.min.js" type="text/javascript"  charset="utf-8"></script>
  <script src="../scripts/js/util.js" type="text/javascript"  charset="utf-8"></script>
</head>
<body>
<div class="container-fluid">
  <div class="page-header">
   <h1>
  <a href="/" id="frt_title"><script>t('#frt_title','frt_title')</script></a> <small><a href="./upload.html" id="frt_sub_upload"><script>t('#frt_sub_upload','frt_sub_upload')</script></a>, <a href="./calculate.html" id="frt_sub_calculate"><script>t('#frt_sub_calculate','frt_sub_calculate')</script></a>, <a href="./analyse.html" id="frt_sub_analyse"><script>t('#frt_sub_analyse','frt_sub_analyse')</script></a></small></h1>
  <div id="switcher" class="pull-right clear-fix"><span id="users"></span><span id="lng_en"><script>t('#lng_en','lng_en')</script></span> <span id="lng_zh"><script>t('#lng_zh','lng_zh')</script></span></div>
</div>
<div class="row">
  <div class="col-md-1 col-sm-1">
    <span id="frt_step"><script>t('#frt_step','frt_step')</script></span>
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-sm-1">
    <h1 id="frt_1"><script>t('#frt_1','frt_1')</script></h1>
  </div>
  <div class="col-md-4 col-sm-4">
    <h4 id="upl_upload"><script>t('#upl_upload','upl_upload')</script></h4>
    <p><input type="file" id="file_input" /></p>
    <p><input class="btn btn-default pull-right" id="uploadButton" type="button"><script>jQuery(document).ready(function() {         
    $('#uploadButton').attr('value',jQuery.i18n.prop('upl_button'))          
  })</script></p>
  </div>
  <div class="col-md-7 col-sm-7">
    <h4>&nbsp;</h4>
    <p id="upl_text_1"><script>t('#upl_text_1','upl_text_1')</script>
    </p>
    <p class="text-muted">
      <span class="glyphicon glyphicon-info-sign text-info"></span> 
      <span id="upl_text_2"><script>t('#upl_text_2','upl_text_2')</script></span><ul class="text-muted">
        <li id="upl_li_1"><script>t('#upl_li_1','upl_li_1')</script></li>
        <li><span id="upl_li_2"><script>t('#upl_li_2','upl_li_2')</script></span><a href="../scripts/Shapefile%20to%20OSM/guizhou.py" id="upl_li_2_lnk"><script>t('#upl_li_2_lnk','upl_li_2_lnk')</script></a></li>
        <li><span id="upl_li_3"><script>t('#upl_li_3','upl_li_3')</script></span> <a href="../scripts/OSRM%20import/profile.lua" id="upl_li_3_lnk"><script>t('#upl_li_3_lnk','upl_li_3_lnk')</script></a></li>
     </ul>
     <p id="upl_text_3"><script>t('#upl_text_3','upl_text_3')</script>
     </p>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-sm-1">
    <h1 id="frt_2"><script>t('#frt_2','frt_2')</script></h1>
  </div>
  <div class="col-md-11 col-sm-11">
    <h4 id="upl_status"><script>t('#upl_status','upl_status')</script></h4>
    <div id="logfield"></div>
    <p></p>
  </div>
</div>

<div class="row" id="step3" style="display: none">
  <div class="col-md-1 col-sm-1">
   <h1 id="frt_3"><script>t('#frt_3','frt_3')</script></h1>
  </div>
  <div class="col-md-4 col-sm-4">
    <h4 id="upl_result"><script>t('#upl_result','upl_result')</script></h4>
     <p><a class="btn btn-default pull-right" id="nextStep" type="button" value="Use processed network"><script>t('#nextStep','upl_processed')</script></a></p>
  </div>
  <div class="col-md-7 col-sm-7">
   <h4>&nbsp;</h4>
  <p id="upl_finished">
  <script>t('#upl_finished','upl_finished')</script>
  </p>
  </div>
  </div>

  </div>
</div>   

<script type="text/javascript" src="../scripts/js/step1.js"></script> 
</body>
</html>
