* {font-family: 'Overlock', sans-serif;}
html, body {
 margin: 0;
 padding: 0;
  background-color: #CFD8DC; 
}
.page-header {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -20px;
background: white;
 box-shadow: 0px 1px 5px #607D8B;
 padding: 10px;

}
.container-fluid {
 background-color: #CFD8DC;   
}
.row {
    background: #ECEFF1;
    margin-bottom: 30px;
    box-shadow: 0px 1px 5px #607D8B;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.unfinished {
    opacity: 0.8;
    font-style: italic;
}
h1 {
	font-size: large;
}
#map {
 	margin: 0px;
 	border: solid 1px #444;
 	height: 400px;
 	background: #272822;
}
#countyname {
	z-index:10000;
	position: absolute;
	top: 10px;
	left: 10px;
	background: white;
}

.csvlist {
	max-height: 300px;
	overflow:auto;
}
#commands {
	margin:10px;
}

.loginform ul {
    padding: 0;
    margin: 0;
}
.loginform li {
    display: inline;
   
}
#secure {
	visibility: collapse;
}
#file_drop{
	width:400px;
	height:200px;
}
.slideDown{
    height: 0px;
    max-height: 0;
    transition:  max-height 0.25s ease-out;
    overflow: hidden;
    
}

.innerdiv {
    background: rgba(238, 238, 236, 0.38);;
    padding: 20px;
    border: solid 1px #eeeeec;
}
#logfield {
	width: 100%;
	height: 60px;
	background: #FFF8E1;
	border-radius: 4px;
	overflow: auto;
    position: fixed;
    bottom: 0px;
    font-size: smaller;
   box-shadow: 0px -1px 5px #607D8B;
}
.left-border {
    border-left: solid 1px #CFD8DC;
}
.inhoud {
    position: absolute;
    overflow: auto;
    bottom: 60px;
    top: 0px;
    right: 0px;
    left: 0px;
}

.changeOSRM {
	cursor: pointer;
	color: #337ab7;
}

.changeOSRM:hover {
    color: #23527c;
    text-decoration: underline;
}
.activeOSRM {
	font-weight: bold;
}
#osrmfiles {
	max-height: 300px;
	overflow: auto;
}
#switcher {
	margin-top: -30px;
	cursor: pointer;
	color: #337ab7;
}

#switcher span:hover {
	color: #23527c;
    text-decoration: underline;
}

.active {
	font-weight: bold;
}
#users {
	color: #666;
    margin: 10px;
    border: solid 1px #eeeeec;
    padding: 10px;
    border-radius: 3px;
}
#users:hover {
	text-decoration: none !important;
	color: white;
	cursor: default;
}
path {
    stroke: #337ab7;
    fill: #eeeeec;
}

.edit-key {
    display:none;
}

.key-0 {
    display:block;
}
.removed {
    text-decoration: line-through;
    opacity: 0.5;
}
.changed {
    box-shadow: 0px 0px 10px orange;
}